body{
	background:url("../imagenes/espacio3.jpg");
	color:#fff; 
	background-repeat: no-repeat;
	height: auto;
	}
.login-box{
	background:url("https://images3.alphacoders.com/677/677827.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	width:320px;
	height:450px ;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-sizing:border-box;
    padding: 45px 50px;
}
.avatar{
	width:100px;
	position: absolute;
	top:-10%;
	left:35%;
	border-radius: 49px;
}
h1{
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 4px white;
}
input{
	border:none;
	background:transparent;
	padding:5px;
	border-bottom:1px solid #fff;
	/*border-top:1px solid #fff;*/
	color: white;
	margin-bottom:10px;
	outline: none;
	text-transform: uppercase;
	width: 80%;
}
label{
	margin:0:
	padding: 0;
	/*negrillas*/
	font-weight:bold;
	display: block;
	margin-bottom:5px;
}
.boton{
	background: red;
	color: white;
	font-size: 18px;
	border-radius: 20px;
	text-transform: uppercase;
	outline: none;
	border:none;
	padding: 5px;
	width: 100%;
	font-weight: bold;
	margin-bottom: 20px;
}
.boton:hover{
	background-color:#FF5833;
	cursor:pointer; 
	font-size: 20px;
}
cite{
	float:right;
	text-transform: uppercase;
	text-decoration: line-through;
	border: none;
	display: block;
	color: gray;
	text-shadow:1px 1px 2px #fff;
	user-select: none; 
}
.facebook{
	text-transform: uppercase;
	background-color: blue;
	color: #fff;
	text-align:center;
	border:none; 
	border-radius: 20px;
	height: 25px;
	padding: 3px ;	
	display: block;
	float: left;
	width: 45%;
	margin-bottom: 15px;
	font-weight: bold;
	font-size:15px;
}

.facebook:hover{
	background-color:#AE33FF;
	cursor:pointer;
}
.gmail{
	text-transform: uppercase;
	background-color:red;
	color: #fff;
	font-size:15px;
	text-align:center;
	border:none; 
	border-radius: 20px;
	height: 25px;
	padding: 3px;	
	display: block;
	float:right;
	width:45%;
	margin-bottom: 15px;
	font-weight: bold;
}
.gmail:hover{
	background-color:#FF5833;
	cursor:pointer; 
}
.fg{
	color: #fff; 	
	text-decoration:none; 
}
.img1{
	width: 45%;
	height: auto;
}
